mixin slide(names, slideClasses)
  if names
    section(class=names+' '+slideClasses, data-bespoke-backdrop='backdrop ' + names.split(' ').map(function(name) { return 'backdrop--' + name; }).join(' '))
      block
  else
    section
      block

doctype html
html
  head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  title Dockerized System Testing, with a Dash of Chaos

  link(rel='stylesheet', type='text/css', href='build/build.css')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')

  body

    article

      +slide('main')
       
      +slide('title')
        h2.title Dockerized System Testing, with a Dash of Chaos
      
      +slide('mac')
        h1.small <span class='important'>Software</span> is eating the <span class='important'>world</span>
        aside(role='note') Every business is in the sw business, even landed ni traditional business Uber, AirBnb, JustEat

      +slide('dijkstra')
        h4 If <span class='important'>debugging</span> is the process of<br/> <span class='important'>removing software bugs</span>, <br/>then <span class='important'>programming</span> must be the process of <br/><span class='important'>putting them in</span>.
        h3 Edsger W. Dijkstra
      
      +slide
        img.schemash(src='images/tesla-news.png')

      +slide
        img.schemash(src='images/airport.png')

      +slide
        img.schemash(src='images/casino.png')

      +slide('test')
        h2.gothicfont <span class='important'>Automatated Tests</span> are the Solution
        aside(role='note') Unit, Integration, Component, Contract, Security, e2e

      +slide('contract')
        h2.gothicfont <span class='important'>Sociable</span> Unit Tests

      +slide('unittt')
        h2.gothicfont Unit tests <span class='important'>are not enough</span>
        aside(role='note') TDD, 100%coverage, but when you deploy, JPA, container features

      +slide('indy')
        h2.gothicfont Will it Work in <span class='important'>Production</span> ?

      +slide('ci')
        h2.gothicfont <span class='important'>High-level Tests</span> Running in <br/> <span class='important'>Production-like</span> environment
        aside(role='note') Problem preparing containers, manual steps, maven plugin, debuging (embeded)
          
      +slide('arquillianf')
        
      +slide
        h2.gothicfont What is <span class='important'>Arquillian</span>?
        ul.lists
          li <span class='important'>Middleware</span> for your <span class='important'>tests</span>
          li Fills the <span class='important'>gap</span> between Unit/Integration tests
          li <span class='important'>Ease</span> of use
          li Any kind of <span class='important'>high-level</span> tests

      +slide
        h2.gothicfont Principles of <span class='important'>Arquillian</span>
        ul.lists
          li <span class='important'>Portable</span> tests
          li Executable from <span class='important'>IDE</span> and <span class='important'>build tool</span>
          li <span class='important'>Reuse</span> existing frameworks
          li <span class='important'>Flexible</span> to adapt technologies
          li <span class='important'>Extensible</span> to new platforms
          li Ease of <span class='important'>deployment</span>
        aside(role='note') Maven importer

      +slide('whales')
        h2.gothicfont Docker
        aside(role='note') automates deployment of software containers

      +slide('borg')
        h2.gothicfont Arquillian <span class='important'>Cube</span>
        aside(role='note') Arquillian extension for managing lifecycle

      +slide
        h2.gothicfont What is <span class='important'>Cube</span>?
        ul.lists
          li Manage lifecycle of <span class='important'>docker</span> containers
          li Ready for <span class='important'>OpenShift v3</span>
        aside(role='note') Docker machine means testing any platform with docker support
      
      +slide('alexoh')
        h3 <b>The more we rely on being <span class='important'>online,</span></b> <br/> <b>the more <span class='important'>offline</span> support is needed..?</b>
      
      +slide('q')
        h2.gothicfont Arquillian <span class='important'>Cube Q</span>
        aside(role='note') Adding chaos to the system 
            
      +slide
        h2.gothicfont What is <span class='important'>Q:</span> Container Chaos?
        ul.lists
          li <span class='important'>Chaos</span> stop, kill & remove containers

      +slide
        h2.gothicfont What is <span class='important'>Q:</span> Operative System Chaos?
        ul.lists
          li <span class='important'>Chaos</span> block ports, burn cpu, burn io, fill disk, kill process & null route

      +slide
        h2.gothicfont What is <span class='important'>Q:</span> Network Chaos?
        ul.lists
          li <span class='important'>Chaos</span> latency, bandwidth, down, slow_close, timeout & slicer 

      +slide
        img.schemas(src='images/toxirewrite.png')

      +slide
        h2.gothicfont.filegothic docker-compose.yml
        pre.small.language-javascript
          code.bullet.bespoke-bullet.bespoke-bullet-active.bespoke-bullet-current.
            helloworld:
              image: lordofthejars/helloworld
              ports:
                - "8081:8080"
              links:
                - pingpong:pingpong

            pingpong:
              image: jonmorehouse/ping-pong
              expose:
                  - "8080"
          
      +slide
        h2.gothicfont.filegothic build.gradle
        pre.small.language-javascript
          code.bullet.bespoke-bullet.bespoke-bullet-active.bespoke-bullet-current.
            dependencies {
              testCompile 'org.arquillian.cube.q:arquillian-cube-q-toxic:1.0.0.Alpha1'
            }
              
      +slide
        h2.gothicfont.filegothic ToxicFuntionalTestCase.java
        pre.small.full-width.language-javascript
          code.bullet.bespoke-bullet.bespoke-bullet-active.bespoke-bullet-current.
            @RunWith(Arquillian.class)
            public class ToxicFuntionalTestCase {

              @ArquillianResource
              private NetworkChaos networkChaos;

              @HostIp
              private String ip;
              
          br
          code.bullet.bespoke-bullet.bespoke-bullet-inactive.
            &nbsp;&nbsp;@Test
            &nbsp;&nbsp;public void shouldSurviveOnLatency() throws Exception {
            &nbsp;&nbsp;&nbsp;&nbsp;networkChaos.on("pingpong", 8080).latency(4000, 0, () -> {
              
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;URL url = new URL("http://" + ip + ":" + 8081 + "/hw/HelloWorld");
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;String response = IOUtil.asString(url.openStream());
              
            &nbsp;&nbsp;&nbsp;&nbsp;});
            &nbsp;&nbsp;}
            }

      +slide('puzzle')
        h2.gothicfont Demo
                        
      +slide('deming')
        h4 It is <span class='important'>not necessary</span> to change. <br/> <span class='important'>Survival</span> is <span class='important'>not mandatory</span>.
        h3 W. Edwards Deming
        aside(role='note') You can continue doing manual tests

      +slide
        div.main-wrap
          div.leftbar
            h2.gothicfont(style='font-size:2em') Bartosz<br/>Majsak
            br
            h2.gothicfont.important(style='font-size:1em') Red Hat
            h2.gothicfont(style='font-size:1em') Arquillian Lead
            h2.gothicfont.important(style='font-size:1em') @majson
          div.rightbar
            h2.gothicfont(style='font-size:2em') Aslak<br/>Knutsen
            br
            h2.gothicfont.important(style='font-size:1em') Red Hat
            h2.gothicfont(style='font-size:1em') almighty lead
            h2.gothicfont.important(style='font-size:1em') @aslakknutsen

      +slide
        a(href='http://arquillian.org/', style='border:none')
          h2(style='font-size: .55em') arquillian.org
        a(href='http://discuss.arquillian.org/', style='border:none')
          h2(style='font-size: .55em') discuss.arquillian.org
        br
        a(href='https://github.com/aslakknutsen/docker-testing', style='border:none')
          h5(style='font-size: .55em') github.com/aslakknutsen/docker-testing
        br

        a(href='https://github.com/lordofthejars/pingpongQ', style='border:none')
          h5(style='font-size: .55em') github.com/lordofthejars/pingpongQ

        a(href='https://github.com/arquillian/arquillian-cube/tree/master/docker/ftest-docker-containerobject', style='border:none')
          h5(style='font-size: .55em') github.com/arquillian/arquillian-cube/tree/master/docker/ftest-docker-containerobject
        a(href='https://github.com/arquillian/arquillian-cube/tree/master/docker/ftest-docker-compose', style='border:none')
          h5(style='font-size: .55em') github.com/arquillian/arquillian-cube/tree/master/docker/ftest-docker-compose
        a(href='http://toxiproxy.io', style='border:none')
          h5(style='font-size: .55em') toxiproxy.io

    script(src='build/build.js')
